*{
    margin: 0;
    padding : 0;
    font-family: fantasy;
}

.container{
    height:100vh;
    width: 100%;
    background-image: url(media/Background.Music.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.navbar{
    width: 89%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 60px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 16px;
}

.navbar ul li a{
    text-decoration: none;
    color: #110101;
    font-size: 15px;
}
.content{
    width: 100%;
    position: absolute;
    top: 32%;
}
.left-col{
    margin-left: 7%;
}

.left-col h1{
    font-size: 90px;
    color: #fff;
    line-height: 110px;
    float: left;
}
.right-col{
    float: left;
    margin-right: 15%;
    margin-top: 120px;
    display: flex;
    align-items: center;
}
.right-col p{
    font-size: 16px;
    color: #0c0101;
    font-weight: 400;
    margin-right: 16px;
}
#icon{
    width: 80px;
    cursor: pointer;
}
